@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&display=swap');

/* || Light theme */
:root {
  --foreground: #000000;
  --background: #FFFFFF;
  --font-inter: 'Inter', sans-serif;
  --font-crete-round: 'Crete Round', serif
}

/* || Dark theme */
[data-theme='dark'] {
  --foreground: #FFFFFF;
  --background: #000000;
}

/* || HTML Elements */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

/* || Classes */
.header {
  font-family: var(--font-crete-round);
}

.citation {
  padding-left: 36px;
  text-indent: -36px;
}
